In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime

In [2]:
import os

# Run the setup script
%run ../../config/setup_project.py

# Call the function to set up the project path
setup_project_path()

# Now you can import your modules
from utils import helper as h_
import ch_02.code_ch_02 as f_

Project root added to sys.path: /Users/paulkelendji/Desktop/GitHub_paul/ML-Asset_Management/src
Current sys.path: ['/Users/paulkelendji/miniconda3/envs/financial_math/lib/python38.zip', '/Users/paulkelendji/miniconda3/envs/financial_math/lib/python3.8', '/Users/paulkelendji/miniconda3/envs/financial_math/lib/python3.8/lib-dynload', '', '/Users/paulkelendji/miniconda3/envs/financial_math/lib/python3.8/site-packages', '/Users/paulkelendji/Desktop/GitHub_paul/ML-Asset_Management/src']

In [3]:
df = pd.read_parquet("../../data/IVE_kibot.parq")
df

                      price     bid     ask  size     v          dv
dates
2009-09-28 09:30:00   50.79   50.70   50.79   100   100     5079.00
2009-09-28 09:30:00   50.71   50.70   50.79   638   638    32352.98
2009-09-28 09:31:32   50.75   50.75   50.76   100   100     5075.00
2009-09-28 09:31:33   50.75   50.72   50.75   100   100     5075.00
2009-09-28 09:31:50   50.75   50.73   50.76   300   300    15225.00
...                     ...     ...     ...   ...   ...         ...
2024-07-26 15:59:46  189.43  189.44  189.46   100   100    18943.00
2024-07-26 15:59:50  189.43  189.41  189.45   150   150    28414.50
2024-07-26 15:59:50  189.42  189.41  189.45   107   107    20267.94
2024-07-26 15:59:52  189.46  189.42  189.46   595   595   112728.70
2024-07-26 16:00:00  189.39  189.42  189.49  7734  7734  1464742.26

[2786155 rows x 6 columns]

In [4]:
# load ../data/variables_ch2.pkl
%run ../ch_02/code_ch_02.py

path = '../../data/variables_ch2.pkl'
import pickle
with open(path, 'rb') as f:
    bars = pickle.load(f)
    bar_time = pickle.load(f)

In [5]:
bars['Dollar'].df_OLHC

,time_open,open,low,high,close,time_close,vwap,volume,cusum
0,2009-09-28 09:30:00,50.7900,50.710,51.9600,51.730,2009-09-29 13:23:42,51.430024,701459,0
1,2009-09-29 13:26:31,51.7275,50.070,51.7600,50.270,2009-10-01 13:44:06,50.908633,709392,0
2,2009-10-01 13:45:10,50.2376,49.190,50.3166,49.761,2009-10-02 14:37:25,49.836850,724111,1
3,2009-10-02 14:38:03,49.7635,49.440,51.4700,51.090,2009-10-07 11:39:00,50.606475,713127,1
4,2009-10-07 11:40:15,51.0880,50.980,52.2252,51.990,2009-10-12 14:24:38,51.675670,698754,0
...,...,...,...,...,...,...,...,...,...
4227,2024-07-24 15:51:05,186.6706,186.460,188.5800,188.400,2024-07-25 11:50:36,187.387274,186271,0
4228,2024-07-25 11:50:40,188.4000,187.685,189.1286,187.685,2024-07-25 14:46:14,188.380972,194394,0
4229,2024-07-25 14:46:35,187.6150,186.980,189.2300,189.020,2024-07-26 10:11:15,187.749127,195797,0
4230,2024-07-26 10:12:45,189.0497,188.665,190.0100,189.460,2024-07-26 15:59:52,189.348801,183912,0
4231,2024-07-26 16:00:00,189.3900,189.390,189.3900,189.390,2024-07-26 16:00:00,189.390000,7734,0

In [6]:
# copy dataframe without cusum column
df = bars['Dollar'].df_OLHC.copy()
# remove cusum column
df = df.drop(columns=['cusum'])
df

,time_open,open,low,high,close,time_close,vwap,volume
0,2009-09-28 09:30:00,50.7900,50.710,51.9600,51.730,2009-09-29 13:23:42,51.430024,701459
1,2009-09-29 13:26:31,51.7275,50.070,51.7600,50.270,2009-10-01 13:44:06,50.908633,709392
2,2009-10-01 13:45:10,50.2376,49.190,50.3166,49.761,2009-10-02 14:37:25,49.836850,724111
3,2009-10-02 14:38:03,49.7635,49.440,51.4700,51.090,2009-10-07 11:39:00,50.606475,713127
4,2009-10-07 11:40:15,51.0880,50.980,52.2252,51.990,2009-10-12 14:24:38,51.675670,698754
...,...,...,...,...,...,...,...,...
4227,2024-07-24 15:51:05,186.6706,186.460,188.5800,188.400,2024-07-25 11:50:36,187.387274,186271
4228,2024-07-25 11:50:40,188.4000,187.685,189.1286,187.685,2024-07-25 14:46:14,188.380972,194394
4229,2024-07-25 14:46:35,187.6150,186.980,189.2300,189.020,2024-07-26 10:11:15,187.749127,195797
4230,2024-07-26 10:12:45,189.0497,188.665,190.0100,189.460,2024-07-26 15:59:52,189.348801,183912
4231,2024-07-26 16:00:00,189.3900,189.390,189.3900,189.390,2024-07-26 16:00:00,189.390000,7734

In [ ]:
df_time

In [ ]:
### SNIPPET 3.1 DAILY VOLATILITY ESTIMATES
def getDailyVol(close, span0=100):
    # daily vol, reindexed to close
    df0 = close.index.searchsorted(close.index - pd.Timedelta(days=1))
    df0 = df0[df0 > 0]
    df0 = pd.Series(close.index[df0 - 1], index=close.index[close.shape[0] - df0.shape[0]:])
    df0 = close.loc[df0.index] / close.loc[df0.values].values - 1  # daily returns
    df0 = df0.ewm(span=span0).std()
    return df0


# SNIPPET 2.4 THE SYMMETRIC CUSUM FILTER
def getTEvents(gRaw, h):
    tEvents, sPos, sNeg = [], 0, 0
    diff = gRaw.diff()
    for i in diff.index[1:]:
        sPos, sNeg = max(0, sPos + diff.loc[i]), min(0, sNeg + diff.loc[i])
        if sNeg < -h:
            sNeg = 0; tEvents.append(i)
        elif sPos > h:
            sPos = 0; tEvents.append(i)
    # return pd.DatetimeIndex(tEvents)
    return tEvents

In [ ]:
# set 'time_close' as index
df_timeClose = df.set_index('time_close')
close = df_timeClose['close']

close

time_close
2009-09-29 13:23:42     51.730
2009-10-01 13:44:06     50.270
2009-10-02 14:37:25     49.761
2009-10-07 11:39:00     51.090
2009-10-12 14:24:38     51.990
                        ...
2024-07-25 11:50:36    188.400
2024-07-25 14:46:14    187.685
2024-07-26 10:11:15    189.020
2024-07-26 15:59:52    189.460
2024-07-26 16:00:00    189.390
Name: close, Length: 4232, dtype: float64

In [ ]:
def getDailyVol(close, span0=100):
    # daily vol, reindexed to close
    df0 = close.index.searchsorted(close.index - pd.Timedelta(days=1))
    df0 = df0[df0 > 0]
    df0 = pd.Series(close.index[df0 - 1], index=close.index[close.shape[0] - df0.shape[0]:])
    dim = min(close.loc[df0.index].shape[0], close.loc[df0.values].shape[0])
    a = close.loc[df0.index][-dim:]
    b = close.loc[df0.values].values[-dim:]
    df0 = a / b - 1  # daily returns
    df0 = df0.ewm(span=span0).std()
    return df0
# set 'time_close' as index
df_timeClose = df.set_index('time_close')
close = df_timeClose['close']

close_vol = getDailyVol(close, span0=100).dropna()
close_vol

In [ ]:
close_returns = close.pct_change().dropna()
close_returns

time_close
2009-10-01 13:44:06   -0.028223
2009-10-02 14:37:25   -0.010125
2009-10-07 11:39:00    0.026708
2009-10-12 14:24:38    0.017616
2009-10-15 12:03:22    0.015753
                         ...
2024-07-25 11:50:36    0.009051
2024-07-25 14:46:14   -0.003795
2024-07-26 10:11:15    0.007113
2024-07-26 15:59:52    0.002328
2024-07-26 16:00:00   -0.000369
Name: close, Length: 4231, dtype: float64

In [ ]:
"""Adding a vertical barrier"""
def get_horizons(prices, delta=pd.Timedelta(minutes=15)):
    t1 = prices.index.searchsorted(prices.index + delta) # get the index of the timestamps delta minutes ahead
    t1 = t1[t1 < prices.shape[0]] # ignore values beyond the end of the series
    t1 = prices.index[t1] # get the timestamps
    t1 = pd.Series(t1, index=prices.index[:t1.shape[0]]) # create a series with timestamps as index
    return t1

DatetimeIndex(['2009-10-07 11:39:00', '2009-10-12 14:24:38',
               '2009-10-15 12:03:22', '2009-10-20 11:12:37',
               '2009-10-22 15:42:26', '2009-10-27 11:06:15',
               '2009-10-29 11:47:25', '2009-11-02 10:30:21',
               '2009-11-03 11:21:01', '2009-11-04 15:15:40',
               ...
               '2024-07-22 14:12:45', '2024-07-23 10:51:52',
               '2024-07-23 15:42:59', '2024-07-24 11:32:35',
               '2024-07-24 15:50:56', '2024-07-25 11:50:36',
               '2024-07-25 14:46:14', '2024-07-26 10:11:15',
               '2024-07-26 15:59:52', '2024-07-26 16:00:00'],
              dtype='datetime64[ns]', name='time_close', length=4228, freq=None)

In [ ]:
# SNIPPET 2.4 THE SYMMETRIC CUSUM FILTER ADDAPTED FOR 3.1
def getTEvents(gRaw, h):
    # inner join to have only the common dates
    tEvents, sPos, sNeg = [], 0, 0
    diff = gRaw.diff().dropna()
    common_dates = diff.index.intersection(h.index)
    diff = diff.loc[common_dates]
    h = h.loc[common_dates]
    for i in diff.index:
        try:
            sPos, sNeg = max(0, sPos + diff.loc[i]), min(0, sNeg + diff.loc[i])
            if sNeg < -h.loc[i]:
                sNeg = 0; tEvents.append(i)
            elif sPos > h.loc[i]:
                sPos = 0; tEvents.append(i)
    # return pd.DatetimeIndex(tEvents)
        except Exception as e:
            print(e)
    return tEvents

tEvents = getTEvents(close_returns, h=close_vol)

In [ ]:
## (b) (c)

In [ ]:
df_timeClose

In [ ]:
"""Adding a vertical barrier"""
def get_horizons(prices, delta=pd.Timedelta(minutes=15)):
    t1 = prices.index.searchsorted(prices.index + delta) # get the index of the timestamps delta minutes ahead
    t1 = t1[t1 < prices.shape[0]] # ignore values beyond the end of the series
    t1 = prices.index[t1] # get the timestamps
    t1 = pd.Series(t1, index=prices.index[:t1.shape[0]]) # create a series with timestamps as index
    return t1

In [ ]:
"""Now that we have our horizon barriers, we define a function to set upper and 
lower barriers based on the volatility estimates computed earlier:
"""


def get_touches(prices, events, factors=[1, 1]):
    """
    events: pd dataframe with columns
      t1: timestamp of the next horizon
      threshold: unit height of top and bottom barriers
      side: the side of each bet
    factors: multipliers of the threshold to set the height of
             top/bottom barriers
    """
    out = events[['t1']].copy(deep=True)
    if factors[0] > 0:
        thresh_uppr = factors[0] * events['threshold']
    else:
        thresh_uppr = pd.Series(index=events.index)  # no uppr thresh

    if factors[1] > 0:
        thresh_lwr = -factors[1] * events['threshold']
    else:
        thresh_lwr = pd.Series(index=events.index)  # no lwr thresh

    for loc, t1 in events['t1'].items():  # Use items() for Series
        df0 = prices[loc:t1]  # path prices
        df0 = (df0 / prices[loc] - 1) * events.side[loc]  # path returns
        out.loc[loc, 'stop_loss'] = df0[df0 < thresh_lwr[loc]].index.min()  # earliest stop loss
        out.loc[loc, 'take_profit'] = df0[df0 > thresh_uppr[loc]].index.min()  # earliest take profit

    return out

In [ ]:
"""Finally, we define a function to compute the labels:"""


def get_labels(touches):
    out = touches.copy(deep=True)
    # pandas df.min() ignores NaN values
    first_touch = touches[['stop_loss', 'take_profit']].min(axis=1)
    for loc, t in first_touch.items():  # Use items() instead of iteritems()
        if pd.isnull(t):
            out.loc[loc, 'label'] = 0
        elif t == touches.loc[loc, 'stop_loss']:
            out.loc[loc, 'label'] = -1
        else:
            out.loc[loc, 'label'] = 1
    return out

def get_labels(touches):
    """1 if take profit not null, -1 if stop loss not null, 0 otherwise"""
    out = touches.copy(deep=True)
    out['label']=np.where(~touches.take_profit.isnull(),1,np.where(~touches.stop_loss.isnull(),-1,0))
    return out