In [2]:
import numpy as np
import pandas as pd

import pickle as pkl

In [2]:
# array normal 10x5
array = np.random.randn(10, 5)

In [3]:
df = pd.DataFrame(array, columns=['A', 'B', 'C', 'D', 'E'])

In [4]:
arr2 = np.random.randn(10, 5)
df2 = pd.DataFrame(arr2, columns=['A', 'B', 'C', 'D', 'E'])

In [5]:
trading_log = df
weights = df2

In [6]:
    hit_miss_trade = pd.DataFrame()
    hit_miss_trade['Hit'] = (trading_log > 0).sum(axis=1)
    hit_miss_trade['Miss'] = (trading_log < 0).sum(axis=1)
    hit_miss_trade['Total'] = hit_miss_trade['Hit'] + hit_miss_trade['Miss']
    
    # Averages
    # Average return per hit
    hit_miss_trade['Avg Hit Ret'] = trading_log[trading_log > 0].mean(axis=1)
    # Average return per miss
    hit_miss_trade['Avg Miss Ret'] = trading_log[trading_log < 0].mean(axis=1)
    # Average return per trade
    hit_miss_trade['Avg Trade Ret'] = trading_log[trading_log!=0].mean(axis=1)
    
    # Hits minus Misses
    hit_miss_trade['Hits - Misses'] = hit_miss_trade['Hit'] - hit_miss_trade['Miss']
    # Hit ratio
    hit_miss_trade['Hit Ratio'] = hit_miss_trade['Hit'] / hit_miss_trade['Total']
    # Cumulative sum of hits - misses
    hit_miss_trade['Cumul Hits - Misses'] = hit_miss_trade['Hits - Misses'].cumsum()
    hit_miss_trade

,Hit,Miss,Total,Avg Hit Ret,Avg Miss Ret,Avg Trade Ret,Hits - Misses,Hit Ratio,Cumul Hits - Misses
0,2,3,5,0.777795,-0.735802,-0.130363,-1,0.4,-1
1,2,3,5,1.263391,-0.825463,0.010078,-1,0.4,-2
2,1,4,5,0.499479,-0.896244,-0.617100,-3,0.2,-5
3,2,3,5,0.720274,-1.089134,-0.365371,-1,0.4,-6
4,3,2,5,1.232228,-1.359142,0.195680,1,0.6,-5
5,2,3,5,1.383850,-0.312473,0.366056,-1,0.4,-6
6,1,4,5,1.789164,-1.089456,-0.513732,-3,0.2,-9
7,3,2,5,0.915560,-0.497663,0.350271,1,0.6,-8
8,4,1,5,0.897199,-0.182204,0.681319,3,0.8,-5
9,1,4,5,1.859573,-0.312038,0.122284,-3,0.2,-8

In [7]:
    # Now, per stock
    # Average return per hit
    hit_miss_stock = pd.DataFrame()
    hit_miss_stock['Hit'] = (trading_log > 0).sum(axis=0)
    hit_miss_stock['Miss'] = (trading_log < 0).sum(axis=0)
    hit_miss_stock['Total'] = hit_miss_stock['Hit'] + hit_miss_stock['Miss']
    
    # Averages
    # Average return per hit
    hit_miss_stock['Avg Hit Ret'] = trading_log[trading_log > 0].mean(axis=0)
    # Average return per miss
    hit_miss_stock['Avg Miss Ret'] = trading_log[trading_log < 0].mean(axis=0)
    # Average return per trade
    hit_miss_stock['Avg Trade Ret'] = trading_log[trading_log!=0].mean(axis=0)
    
    # Hits minus Misses
    hit_miss_stock['Hits - Misses'] = hit_miss_stock['Hit'] - hit_miss_stock['Miss']
    # Hit ratio
    hit_miss_stock['Hit Ratio'] = hit_miss_stock['Hit'] / hit_miss_stock['Total']
    hit_miss_stock

,Hit,Miss,Total,Avg Hit Ret,Avg Miss Ret,Avg Trade Ret,Hits - Misses,Hit Ratio
A,4,6,10,0.852561,-0.502227,0.039688,-2,0.4
B,4,6,10,1.716537,-0.726659,0.250620,-2,0.4
C,3,7,10,1.206465,-1.049203,-0.372503,-4,0.3
D,6,4,10,0.597566,-0.370459,0.210356,2,0.6
E,4,6,10,1.247453,-0.962634,-0.078600,-2,0.4

In [8]:
    # Dataframe analysing hits/misses per long and short trades
    hit_miss_long_short = pd.DataFrame()
    hit_miss_long_short['Long Return'] = (trading_log[weights > 0]).sum(axis=1)
    hit_miss_long_short['Short Return'] = (trading_log[weights < 0]).sum(axis=1)
    hit_miss_long_short['Num Long'] = (weights > 0).sum(axis=1)
    hit_miss_long_short['Num Short'] = (weights < 0).sum(axis=1)
    hit_miss_long_short['Long Avg Return'] = (trading_log[weights > 0]).mean(axis=1)
    hit_miss_long_short['Short Avg Return'] = (trading_log[weights < 0]).mean(axis=1)
    
    # cumulative return
    hit_miss_long_short['Cumul Long Return'] = hit_miss_long_short['Long Return'].cumsum()
    hit_miss_long_short['Cumul Short Return'] = hit_miss_long_short['Short Return'].cumsum()
    hit_miss_long_short

,Long Return,Short Return,Num Long,Num Short,Long Avg Return,Short Avg Return,Cumul Long Return,Cumul Short Return
0,-0.671153,0.019337,3,2,-0.223718,0.009669,-0.671153,0.019337
1,0.277589,-0.227197,4,1,0.069397,-0.227197,-0.393564,-0.207860
2,-2.838637,-0.246861,3,2,-0.946212,-0.123431,-3.232201,-0.454721
3,-1.297618,-0.529236,3,2,-0.432539,-0.264618,-4.529818,-0.983957
4,-0.515062,1.493461,2,3,-0.257531,0.497820,-5.044880,0.509504
5,2.052799,-0.222520,2,3,1.026399,-0.074173,-2.992081,0.286984
6,-2.568659,0.000000,5,0,-0.513732,NaN,-5.560740,0.286984
7,-0.995326,2.746681,2,3,-0.497663,0.915560,-6.556066,3.033665
8,0.000000,3.406593,0,5,NaN,0.681319,-6.556066,6.440258
9,-0.061095,0.672516,1,4,-0.061095,0.168129,-6.617161,7.112775

In [9]:
    # Overview
    hit_miss_overall = {}
    hit_miss_overall['Hit'] = hit_miss_stock['Hit'].sum()
    hit_miss_overall['Miss'] = hit_miss_stock['Miss'].sum()
    hit_miss_overall['Total'] = hit_miss_overall['Hit'] + hit_miss_overall['Miss']
    # Averages
    # Average return per hit
    hit_miss_overall['Avg Hit Ret'] = (trading_log[trading_log > 0].sum().sum()) / hit_miss_overall['Hit']
    # Average return per miss
    hit_miss_overall['Avg Miss Ret'] = (trading_log[trading_log < 0].sum().sum()) / hit_miss_overall['Miss']
    # Average return per trade
    hit_miss_overall['Avg Trade Ret'] = (trading_log[trading_log!=0].sum().sum()) / hit_miss_overall['Total']
    # Hits minus Misses
    hit_miss_overall['Hits - Misses'] = hit_miss_overall['Hit'] - hit_miss_overall['Miss']
    # Hit ratio
    hit_miss_overall['Hit Ratio'] = hit_miss_overall['Hit'] / hit_miss_overall['Total']
    hit_miss_overall = pd.DataFrame(hit_miss_overall, index=['Overall'])
    
    pd.DataFrame(hit_miss_overall, index = ['Overall'])

,Hit,Miss,Total,Avg Hit Ret,Avg Miss Ret,Avg Trade Ret,Hits - Misses,Hit Ratio
Overall,21,29,50,1.070047,-0.757772,0.009912,-8,0.42

In [13]:
path = '../objects/mkt_ind.csv'
df = pd.read_csv(path)
df

         rf  year  month    sp_ret          t1    t1_index
0    0.0041  2000      1 -0.050904  2000-01-31  2000-01-03
1    0.0043  2000      2 -0.020108  2000-02-29  2000-02-01
2    0.0047  2000      3  0.096720  2000-03-31  2000-03-01
3    0.0046  2000      4 -0.030796  2000-04-28  2000-04-03
4    0.0050  2000      5 -0.021915  2000-05-31  2000-05-01
..      ...   ...    ...       ...         ...         ...
283  0.0045  2023      8 -0.017716  2023-08-31  2023-08-01
284  0.0043  2023      9 -0.048719  2023-09-29  2023-09-01
285  0.0047  2023     10 -0.021980  2023-10-31  2023-10-02
286  0.0044  2023     11  0.089179  2023-11-30  2023-11-01
287  0.0043  2023     12  0.044229  2023-12-29  2023-12-01

[288 rows x 6 columns]

In [4]:
# import objects/X_DATASET.pkl
path = '../objects/X_DATASET.pkl'
with open(path, 'rb') as f:
    X = pkl.load(f)
    
path = '../objects/Y_DATASET.pkl'
with open(path, 'rb') as f:
    Y = pkl.load(f)
    
Y

,stock_exret,target,prediction,probability,t1,t1_index,weight_attr
0,0.018070,1,1,0.203270,2000-01-31,2000-01-03,0.018070
23522,0.001539,1,1,0.661207,2000-01-31,2000-01-03,0.001539
75824,0.054724,1,1,0.787523,2000-01-31,2000-01-03,0.054724
76014,0.009531,1,1,0.607965,2000-01-31,2000-01-03,0.009531
129371,0.389768,1,1,0.358264,2000-01-31,2000-01-03,0.389768
...,...,...,...,...,...,...,...
77686,0.065845,1,1,0.867088,2023-12-29,2023-12-01,0.065845
110708,0.031191,1,1,0.546409,2023-12-29,2023-12-01,0.031191
77970,-0.009602,-1,-1,0.351334,2023-12-29,2023-12-01,0.009602
9565,0.105924,1,1,0.222725,2023-12-29,2023-12-01,0.105924
131463,0.042407,1,1,0.324786,2023-12-29,2023-12-01,0.042407